[submodule "charts/solo-deployment/dev/bats/bats-core"]
	path = charts/solo-deployment/dev/bats/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule "charts/solo-deployment/dev/bats/test_helper/bats-support"]
	path = charts/solo-deployment/dev/bats/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "charts/solo-deployment/dev/bats/test_helper/bats-assert"]
	path = charts/solo-deployment/dev/bats/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
