# Default values for solo-cluster-setup.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  namespaceOverride: ""
  nameOverride: ""
  fullnameOverride: ""
# cloud configuration
cloud:
  minio:
    enabled: false
  prometheusStack:
    enabled: false
  grafanaAgent:
    enabled: false
  certManager:
    enabled: false


selfSignedCertClusterIssuer: '{{ .Values.global.namespaceOverride | default .Release.Namespace | printf "%s-self-signed-cluster-issuer" }}'
certClusterIssuerType: "self-signed" # "acme-staging", "acme-prod", or "self-signed"

acmeClusterIssuer:
  enabled: false
selfSignedClusterIssuer:
  enabled: false


cert-manager:
  namespace: cert-manager
  installCRDs: false

minio-operator:
  operator:
    replicaCount: 1

prometheus-stack:
  prometheus:
    prometheusSpec:
      scrapeInterval: 5s
      podMonitorNamespaceSelector:
        any: true # fetch metrics from other namespaces
      podMonitorSelector: { }
      podMonitorSelectorNilUsesHelmValues: false
      ruleNamespaceSelector:
        any: true # fetch metrics from other namespaces
      ruleSelector: { }
      ruleSelectorNilUsesHelmValues: false
      serviceMonitorNamespaceSelector:
        any: true  # fetch metrics from other namespaces
      serviceMonitorSelector: { }
      serviceMonitorSelectorNilUsesHelmValues: false

# lets encrypt acme cluster issuer configuration
acme-cluster-issuer:
  issuers:
    staging:
      email: ""
      name: '{{ .Values.global.namespaceOverride | default .Release.Namespace | printf "%s-letsencrypt-staging" }}'
    production:
      email: ""
      name: '{{ .Values.global.namespaceOverride | default .Release.Namespace | printf "%s-letsencrypt-prod" }}'
  solvers: # TODO change in: https://github.com/hashgraph/full-stack-testing/issues/631
    http01:
      solverType: "ingress"

#ingress:
#  annotations: {}
#  className: ""
#  enabled: false
#  hosts:
#    - host: chart-example.local
#      paths:
#        - path: /
#          pathType: ImplementationSpecific
#  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local