version: 3
output: prefixed

silent: false

tasks:
  test-*:
    vars:
      script_name: '{{index .MATCH 0}}'
    cmds:
      - export SCRIPT_NAME={{.script_name}}; ./ci_test.sh

  test:direct:
    cmds:
      - ./ci_test.sh
    env:
      SCRIPT_NAME: direct-install.sh

  test:nmt:
    cmds:
      - ./ci_test.sh
    env:
      SCRIPT_NAME: nmt-install.sh
      
  deploy:local: # deploy the network for local testing. to clean up run task cleanup:local
    cmds:
      - ./deploy_local.sh
    env:
      SCRIPT_NAME: direct-install.sh
      
  cleanup:local:
    cmds:
      - kind delete cluster --name solo-charts-test
