{{- $hasV1a2 := .Capabilities.APIVersions.Has "monitoring.grafana.com/v1alpha2" -}}
{{- $hasV1a1 := .Capabilities.APIVersions.Has "monitoring.grafana.com/v1alpha1" -}}
{{- if and $.Values.crds.podLog.enabled (or $hasV1a2 $hasV1a1) }}
apiVersion: {{- if $hasV1a2 -}}monitoring.grafana.com/v1alpha2{{- else -}}monitoring.grafana.com/v1alpha1{{- end }}
kind: ServiceMonitor
metadata:
  name: solo-service-monitor
  namespace: {{ default $.Release.Namespace $.Values.global.namespaceOverride }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "5"
spec:
  selector:
    matchLabels:
      solo.hedera.com/type: network-node
  namespaceSelector:
    matchNames:
      - {{ default $.Release.Namespace $.Values.global.namespaceOverride }}
  endpoints:
    - port: prometheus
      interval: 15s
      path: /metrics
  jobLabel: solo-app-metrics
  targetLabels:
    - app
    - version
{{- end }}
