{{- if $.Values.crds.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: solo-service-monitor
  namespace: {{ default $.Release.Namespace $.Values.global.namespaceOverride }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "5"
spec:
  selector:
    matchLabels:
      solo.hedera.com/type: network-node
  namespaceSelector:
    matchNames:
      - {{ default $.Release.Namespace $.Values.global.namespaceOverride }}
  endpoints:
    - port: prometheus
      interval: 15s
      path: /metrics
  jobLabel: solo-app-metrics
  targetLabels:
    - app
    - version
{{- end }}
