global:
  namespaceOverride: ""

# cloud configuration
cloud:
  buckets:
    streamBucket: "solo-streams"
    backupBucket: "solo-backups"
  minio:
    enabled: true
  s3:
    enabled: false
    S3_ACCESS_KEY: ""
    S3_SECRET_KEY: ""
  gcs:
    enabled: false
    GCS_ACCESS_KEY: ""
    GCS_SECRET_KEY: ""
# telemetry configurations
telemetry:
  prometheus:
    svcMonitor:
      enabled: true

# reduce default termination grace period
terminationGracePeriodSeconds: 10

# helm test container
tester:
  deployPodMonitor: true
  clusterRoleName: "pod-monitor-role" # this is a shared cluster role for all namespaces
  image:
    registry: "ghcr.io"
    repository: "hashgraph/solo-containers/kubectl-bats"
    tag: "0.33.0"
    pullPolicy: "IfNotPresent"
  resources: {}

# default settings for a single node
# This default configurations can be overridden for each node in the hedera.nodes section.
defaults:
  volumeClaims:
    enabled: false
    node:
      accountBalances: "100Gi"
      eventStreams: "100Gi"
      recordStreams: "100Gi"
      recordStreamsSidecar: "100Gi"
      dataOnboard: "1Gi"
      dataSaved: "500Gi"
      dataStats: "50Gi"
      dataUpgrade: "5Gi"
      output: "5Gi"
  root: # root container
    image:
      registry: "ghcr.io"
      repository: "hashgraph/solo-containers/ubi8-init-java21"
      tag: "0.33.0"
      pullPolicy: "IfNotPresent"
    resources: {}
    extraEnv: []
  service:
    serviceType: "LoadBalancer"
  haproxy:
    enabled: true
    nameOverride: "haproxy"
    image:
      registry: "docker.io"
      repository: "haproxytech/haproxy-alpine"
      tag: "2.4.25"
      pullPolicy: "IfNotPresent"
    resources: {}
    serviceType: "LoadBalancer"
  envoyProxy:
    enabled: true
    nameOverride: "envoy-proxy"
    image:
      registry: "docker.io"
      repository: "envoyproxy/envoy"
      tag: "v1.21.1"
      pullPolicy: "IfNotPresent"
    resources: {}
    serviceType: "LoadBalancer"
  sidecars:
    recordStreamUploader:
      enabled: true
      nameOverride: "record-stream-uploader"
      image:
        registry: "gcr.io"
        repository: "hedera-registry/uploader-mirror"
        tag: "1.3.0"
        pullPolicy: "IfNotPresent"
      config:
        debug: true
        compression: true
        sidecar: true
        reaper:
          enabled: true
          minKeep: 1
          interval: 1
          defaultBackoff: 1
        signature:
          require: true
          prioritize: true
      resources: {}
    recordStreamSidecarUploader:
      enabled: true
      nameOverride: "record-stream-sidecar-uploader"
      image:
        registry: "gcr.io"
        repository: "hedera-registry/uploader-mirror"
        tag: "1.3.0"
        pullPolicy: "IfNotPresent"
      config:
        debug: true
        compression: true
        sidecar: true
        reaper:
          enabled: true
          minKeep: 1
          interval: 1
          defaultBackoff: 1
        signature:
          require: false
          prioritize: false
      resources: {}
    eventStreamUploader:
      enabled: true
      nameOverride: "event-stream-uploader"
      image:
        registry: "gcr.io"
        repository: "hedera-registry/uploader-mirror"
        tag: "1.3.0"
        pullPolicy: "IfNotPresent"
      config:
        debug: true
        compression: true
        reaper:
          enabled: true
          minKeep: 1
          interval: 1
          defaultBackoff: 1
        signature:
          require: true
          prioritize: true
      resources: {}
    accountBalanceUploader:
      enabled: false
      nameOverride: "account-balance-uploader"
      image:
        registry: gcr.io
        repository: hedera-registry/uploader-mirror
        tag: "1.3.0"  # Defaults to the chart's app version if empty
        pullPolicy: "IfNotPresent"
      config:
        debug: true
        compression: true
        reaper:
          enabled: true
          minKeep: 1
          interval: 1
          defaultBackoff: 1
        signature:
          require: true
          prioritize: true
      resources: {}
    backupUploader:
      enabled: false
      nameOverride: "backup-uploader"
      image:
        registry: "gcr.io"
        repository: "hedera-registry/hedera-backups"
        tag: "0.6.0"
        pullPolicy: "IfNotPresent"
      config:
        backupBucket: "backup"
      resources: {}
    otelCollector:
      enabled: true
      nameOverride: ""
      image:
        registry: "docker.io"
        repository: "otel/opentelemetry-collector-contrib"
        tag: "0.72.0"
        pullPolicy: "IfNotPresent"
      resources: {}
      receivers:
        prometheus:
          scrapeTargets: [ 0.0.0.0:9999 ]  # hedera node metrics are exposed at port 9999
          scrapeInterval: 5s
      exporters:
        otlp:
          endpoint: tempo:4317
          tls:
            insecure: true
        prometheus:
          tls:
            insecure: true
        prometheusRemoteWrite:
          enabled: false
          endpoint: "" # e.g. http://prometheus.<NAMESPACE>.svc:9090/api/v1/write
          tls:
            insecure: true

# This configures the minio tenant subchart
# Reference for configuration: https://github.com/minio/operator/blob/master/helm/tenant/values.yaml
minio-server:
  secrets:
    # This secret has [accessKey, secretKey] and will be randomly generated by helm
    existingSecret: minio-secrets
  tenant:
    buckets:
      - name: solo-streams
      - name: solo-backups
    name: minio
    pools:
      - servers: 1
        name: pool-1
        volumesPerServer: 1
        size: 10Gi
        nodeSelector: {}
        labels:
          solo.hedera.com/testSuiteName: ""
          solo.hedera.com/testName: ""
          solo.hedera.com/testRunUID: ""
          solo.hedera.com/testCreationTimestamp: ""
          solo.hedera.com/testExpirationTimestamp: ""
          solo.hedera.com/testRequester: ""
        tolerations:
          - key: "solo-scheduling.io/os"
            operator: "Equal"
            value: "linux"
            effect: "NoSchedule"
          - key: "solo-scheduling.io/role"
            operator: "Equal"
            value: "network"
            effect: "NoSchedule"
    configuration:
      name: minio-secrets
    certificate:
      requestAutoCert: false
  environment:
    MINIO_BROWSER_LOGIN_ANIMATION: off # https://github.com/minio/console/issues/2539#issuecomment-1619211962

# hedera-mirror-node-explorer configuration
# common deployment configuration
deployment:
  podAnnotations: {}
  podLabels: {}
  nodeSelector: {}
  tolerations:
    - key: "solo-scheduling.io/os"
      operator: "Equal"
      value: "linux"
      effect: "NoSchedule"
    - key: "solo-scheduling.io/role"
      operator: "Equal"
      value: "network"
      effect: "NoSchedule"
  # Specify pod affinity
  # Use complete affinity spec starting with key "nodeAffinity:"
  # Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity
  affinity: {}
  priorityClassName: {}
  ## PodDisruptionBudget for solo testing pods
  ## Default backend Pod Disruption Budget configuration
  ## ref: https://kubernetes.io/docs/tasks/run-application/configure-pdb/
  ## @param deployment.podDisruptionBudget.create Enable Pod Disruption Budget configuration
  ## @param deployment.podDisruptionBudget.minAvailable Minimum number/percentage of pods that should remain scheduled
  ## @param deployment.podDisruptionBudget.maxUnavailable Maximum number/percentage of pods that should remain scheduled
  ##
  podDisruptionBudget:
    create: true
    minAvailable: 1
    maxUnavailable: ""
  testMetadata:
    enabled: false
    testSuiteName: ""
    testName: ""
    testRunUID: ""
    testCreationTimestamp: ""
    testExpirationTimestamp: ""
    testRequester: ""

# haproxy specific deployment configuration
haproxyDeployment:
  podAnnotations: { }
  podLabels: { }
  nodeSelector: { }
  tolerations: [ ]
  # Specify pod affinity
  # Use complete affinity spec starting with key "nodeAffinity:"
  # Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity
  affinity: { }
  priorityClassName: { }

# envoy specific deployment configuration
envoyDeployment:
  podAnnotations: { }
  podLabels: { }
  nodeSelector: { }
  tolerations: [ ]
  # Specify pod affinity
  # Use complete affinity spec starting with key "nodeAffinity:"
  # Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity
  affinity: { }
  priorityClassName: { }

# hedera node configuration
hedera:
  initContainers: []

  configMaps:
    apiPermissionsProperties: ""
    applicationEnv: ""
    applicationProperties: ""
    bootstrapProperties: ""
    configTxt: ""
    log4j2Xml: ""
    settingsTxt: ""
    genesisNetworkJson: ""

  # Only the name of the node is required. The rest of the configuration will be inherited from `defaults` section
  nodes:
    - name: node1
      accountId: 0.0.3
      envoyProxyStaticIP: "" # Static IP for Envoy, leave empty to not use
      haproxyStaticIP: "" # Static IP for HAProxy can be empty if not used

    - name: node2
      accountId: 0.0.4
      envoyProxyStaticIP: ""
      haproxyStaticIP: ""

    - name: node3
      accountId: 0.0.5
      envoyProxyStaticIP: ""
      haproxyStaticIP: ""
