# SPDX-License-Identifier: Apache-2.0

{{- define "existingPassword" -}}
{{- $key := print "MIRROR_" .key -}}
{{- coalesce (print "HEDERA_" $key | get .passwords) (print "HIERO_" $key | get .passwords) | default "" | b64dec -}}
{{- end -}}

{{- $name := "solo-shared-resources-passwords" -}}  # postgresl-ha doesn't support templated names
{{- $dbHost := include "solo-shared-resources.db" . }}
{{- $dbName := .Values.db.name }}
{{- $dbSchema := .Values.db.schema }}
{{- $secret := lookup "v1" "Secret" (include "solo-shared-resources.namespace" .) $name | default dict -}}
{{- $passwords := $secret.data | default dict -}}
{{- $graphqlPassword := coalesce .Values.graphql.db.password (include "existingPassword" (dict "passwords" $passwords "key" "GRAPHQL_DB_PASSWORD")) (randAlphaNum 40) -}}
{{- $graphqlUsername := .Values.graphql.db.username -}}
{{- $grpcPassword := coalesce .Values.grpc.db.password (include "existingPassword" (dict "passwords" $passwords "key" "GRPC_DB_PASSWORD")) (randAlphaNum 40) -}}
{{- $grpcUsername := .Values.grpc.db.username -}}
{{- $importerPassword := coalesce .Values.importer.db.password (include "existingPassword" (dict "passwords" $passwords "key" "IMPORTER_DB_PASSWORD")) (randAlphaNum 40) -}}
{{- $importerUsername := .Values.importer.db.username -}}
{{- $ownerPassword := coalesce .Values.db.owner.password (include "existingPassword" (dict "passwords" $passwords "key" "IMPORTER_DB_OWNERPASSWORD")) (randAlphaNum 40) -}}
{{- $ownerUsername := .Values.db.owner.username -}}
{{- $restPassword := coalesce .Values.rest.db.password (include "existingPassword" (dict "passwords" $passwords "key" "IMPORTER_DB_RESTPASSWORD")) (randAlphaNum 40) -}}
{{- $restUsername := .Values.rest.db.username -}}
{{- $restJavaPassword := coalesce .Values.restjava.db.password (include "existingPassword" (dict "passwords" $passwords "key" "RESTJAVA_DB_PASSWORD")) (randAlphaNum 40) -}}
{{- $restJavaUsername := .Values.restjava.db.username -}}
{{- $rosettaPassword := coalesce .Values.rosetta.db.password (include "existingPassword" (dict "passwords" $passwords "key" "ROSETTA_DB_PASSWORD")) (randAlphaNum 40) -}}
{{- $rosettaUsername := .Values.rosetta.db.username -}}
{{- $tempSchema := .Values.db.tempSchema }}
{{- $web3Password := coalesce .Values.web3.db.password (include "existingPassword" (dict "passwords" $passwords "key" "WEB3_DB_PASSWORD")) (randAlphaNum 40) -}}
{{- $web3Username := .Values.web3.db.username }}
apiVersion: v1
kind: Secret
metadata:
  labels: {{ include "solo-shared-resources.labels" . | nindent 4 }}
  name: {{ $name }}
  namespace: {{ include "solo-shared-resources.namespace" . }}
stringData:
  HIERO_MIRROR_GRAPHQL_DB_HOST: "{{ $dbHost }}"
  HIERO_MIRROR_GRAPHQL_DB_NAME: "{{ $dbName }}"
  HIERO_MIRROR_GRAPHQL_DB_PASSWORD: "{{ $graphqlPassword }}"
  HIERO_MIRROR_GRAPHQL_DB_USERNAME: "{{ $graphqlUsername }}"
  HIERO_MIRROR_GRPC_DB_HOST: "{{ $dbHost }}"
  HIERO_MIRROR_GRPC_DB_NAME: "{{ $dbName }}"
  HIERO_MIRROR_GRPC_DB_PASSWORD: "{{ $grpcPassword }}"
  HIERO_MIRROR_GRPC_DB_USERNAME: "{{ $grpcUsername }}"
  HIERO_MIRROR_IMPORTER_DB_HOST: "{{ $dbHost }}"
  HIERO_MIRROR_IMPORTER_DB_NAME: "{{ $dbName }}"
  HIERO_MIRROR_IMPORTER_DB_SCHEMA: "{{ $dbSchema }}"
  HIERO_MIRROR_IMPORTER_DB_PASSWORD: "{{ $importerPassword }}"
  HIERO_MIRROR_IMPORTER_DB_USERNAME: "{{ $importerUsername }}"
  HIERO_MIRROR_IMPORTER_DB_OWNERPASSWORD: "{{ $ownerPassword }}"
  HIERO_MIRROR_IMPORTER_DB_OWNER: "{{ $ownerUsername }}"
  HIERO_MIRROR_IMPORTER_DB_RESTPASSWORD: "{{ $restPassword }}"
  HIERO_MIRROR_IMPORTER_DB_RESTUSERNAME: "{{ $restUsername }}"
  HIERO_MIRROR_IMPORTER_DB_TEMPSCHEMA: "{{ $tempSchema }}"
  HIERO_MIRROR_REST_DB_HOST: "{{ $dbHost }}"
  HIERO_MIRROR_REST_DB_NAME: "{{ $dbName }}"
  HIERO_MIRROR_REST_DB_PASSWORD: "{{ $restPassword }}"
  HIERO_MIRROR_REST_DB_USERNAME: "{{ $restUsername }}"
  HIERO_MIRROR_RESTJAVA_DB_HOST: "{{ $dbHost }}"
  HIERO_MIRROR_RESTJAVA_DB_NAME: "{{ $dbName }}"
  HIERO_MIRROR_RESTJAVA_DB_PASSWORD: "{{ $restJavaPassword }}"
  HIERO_MIRROR_RESTJAVA_DB_USERNAME: "{{ $restJavaUsername }}"
  HIERO_MIRROR_ROSETTA_DB_HOST: "{{ $dbHost }}"
  HIERO_MIRROR_ROSETTA_DB_NAME: "{{ $dbName }}"
  HIERO_MIRROR_ROSETTA_DB_PASSWORD: "{{ $rosettaPassword }}"
  HIERO_MIRROR_ROSETTA_DB_USERNAME: "{{ $rosettaUsername }}"
  HIERO_MIRROR_WEB3_DB_HOST: "{{ $dbHost }}"
  HIERO_MIRROR_WEB3_DB_NAME: "{{ $dbName }}"
  HIERO_MIRROR_WEB3_DB_PASSWORD: "{{ $web3Password }}"
  HIERO_MIRROR_WEB3_DB_USERNAME: "{{ $web3Username }}"

  {{ if .Values.postgresql.enabled -}}
  admin-password: {{ coalesce .Values.postgresql.pgpool.adminPassword (get $passwords "admin-password" | default "" | b64dec) (randAlphaNum 40) | quote }}
  PGPOOL_POSTGRES_CUSTOM_PASSWORDS: "{{ $graphqlPassword }},{{ $grpcPassword }},{{ $importerPassword }},{{ $ownerPassword }},{{ $restPassword }},{{ $restJavaPassword }},{{ $rosettaPassword }},{{ $web3Password }}"
  PGPOOL_POSTGRES_CUSTOM_USERS: "{{ $graphqlUsername }},{{ $grpcUsername }},{{ $importerUsername }},{{ $ownerUsername }},{{ $restUsername }},{{ $restJavaUsername }},{{ $rosettaUsername }},{{ $web3Username }}"
  password: {{ coalesce .Values.postgresql.postgresql.password (get $passwords "password" | default "" | b64dec) (randAlphaNum 40) | quote }}
  repmgr-password: {{ coalesce .Values.postgresql.postgresql.repmgrPassword (get $passwords "repmgr-password" | default "" | b64dec) (randAlphaNum 40) | quote }}
  POSTGRESQL_TIMEZONE: "UTC"
  {{ end -}}
