- name: record-streams-uploader
  enabled: true
  stopOnError: "{{ .cheetah.stopOnError }}" # stop the pipeline if any error occurs
  scanner:
    directory: /opt/hgcapp/recordStreams/record{{ .node.accountId }}
    pattern: ".rcd_sig"
    interval: 100ms
    batchSize: 1000 # max number of files per scanned items batch
  processor:
    maxProcessors: "{{ .cheetah.maxProcessors }}"
    fileMatcherConfigs:
      - matcherType: basic
        patterns: [ ".rcd.gz", ".rcd_sig" ]
      - matcherType: sequential
        patterns: [ "sidecar/{{`{{.markerName}}`}}_##.rcd.gz" ] # ensure Helm does not interpret it as template expressions
    flushDelay: 150ms
    markerCheckConfig:
      checkInterval: 150ms
      minSize: 925 # minimum size of the marker file in KB to consider it valid
      maxAttempts: 5
    retry:
      limit: 5 # retry limit for each file to upload to a remote storage
    storage: # each processor uploads to multiple storages concurrently
      s3:
        enabled: false # by default, S3 is disabled, it can be overridden using S3_ENABLED env variable
        bucket: S3_BUCKET_NAME # use this env variable
        prefix: S3_RECORD_STREAMS_BUCKET_PREFIX # use this env variable if available
        endpoint: S3_ENDPOINT # use this env variable if available
        region: S3_BUCKET_REGION # use this env variable
        accessKey: S3_ACCESS_KEY # use this env variable
        secretKey: S3_SECRET_KEY # use this env variable
        useSsl: true # it can be overridden using S3_USE_SSL env variable
      gcs:
        enabled: false # by default, GCS is disabled, it can be overridden using GCS_ENABLED env variable
        bucket: GCS_BUCKET_NAME # use this env variable
        prefix: GCS_BUCKET_PREFIX # use this env variable if available
        endpoint: GCS_ENDPOINT # use this env variable if available
        region: GCS_BUCKET_REGION # use this env variable
        accessKey: GCS_ACCESS_KEY # use this env variable
        secretKey: GCS_SECRET_KEY # use this env variable
        useSsl: true # it can be overridden using GCS_USE_SSL env variable
